@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind test for home page */
.test-red {
    @apply bg-red-500;
  }

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.typicalFlexContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: white 3px solid;
    padding: 40px;
    border-radius: 8px;
}

input{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .link {
    color: #3b82f6;
    text-decoration: none;
    transition: color 0.2s, text-decoration 0.2s;
  }
  
  .link:hover,
  .link:focus {
    text-decoration: underline;
    color: #2563eb;
  }
  
  .link:active {
    color: #1d4ed8;
  }
  
  